# Environment-specific configuration

# PATH stuff
set -x GOPATH /Users/inigo/go

set -xg PATH \
  $GOPATH/bin \
  ~/bin \
  ~/dd/devtools/bin \
  ~/.rbenv/shims \
  ~/projects/grpc/cmake/build \
  /usr/local/opt/coreutils/libexec/gnubin \
  $PATH

set -x DATADOG_ROOT /Users/inigo/dd
set -x DDGO /Users/inigo/dd/dd-go

set -x JAVA_HOME (/usr/libexec/java_home -v 14)

# keys
set -x DD_APM_MONITORING_API_KEY_EU1_PROD XXX
set -x DD_APM_MONITORING_API_KEY_EU1_STAGING XXX
set -x DD_APM_MONITORING_API_KEY_US1_PROD XXX
set -x DD_APM_MONITORING_API_KEY_US1_STAGING XXX
set -x DD_APM_MONITORING_APP_KEY_EU1_PROD XXX
set -x DD_APM_MONITORING_APP_KEY_EU1_STAGING XXX
set -x DD_APM_MONITORING_APP_KEY_US1_PROD XXX
set -x DD_APM_MONITORING_APP_KEY_US1_STAGING XXX
set -x DD_APM_MONITORING_HOST_EU1_PROD https://app.datadoghq.eu
set -x DD_APM_MONITORING_HOST_EU1_STAGING https://app.datad0g.eu
set -x DD_APM_MONITORING_HOST_US1_PROD https://app.datadoghq.com
set -x DD_APM_MONITORING_HOST_US1_STAGING https://app.datad0g.com

set -x GITLAB_TOKEN XXX

set -x TF_VAR_pagerduty_key XXX

set -x DD_STAGING_API_KEY_INIGO_TEST XXX
set -x DD_DDSTAGING_API_KEY_INIGO XXX
set -x DD_DDSTAGING_APP_KEY_INIGO XXX
